extends ../base/layout

block content
  div.d-flex.mb-3
    a.btn.btn-outline-success(href='/new')
      i.fas.fa-plus.me-2
      | New
    button.btn.btn-outline-primary.ms-auto(type='button', data-bs-toggle="collapse", data-bs-target="#parametersCollapse", aria-expanded="false", aria-controls="parametersCollapse")
      i.fas.fa-info.me-2
      | Parameters
  div.collapse#parametersCollapse
    div.card.mb-2
      div.card-body
        div
          span.me-2
            b Source Directory:
          span= sourceDirectory
        div
          span.me-2
            b Destination Directory:
          span= destinationDirectory

  h1 List of Documents
  table.table.table-striped
    thead
      tr
        th(scope="col") Machine Name
        th(scope="col") Name
        th(scope="col") Actions
    tbody
      each document in documents
        tr
          td
            a(href='view/' + document.machineName, target='_blank')= document.machineName
          td= document.name
          td
            a(href="edit/" + document.machineName).btn.btn-outline-primary Edit
            | 
            a(href="delete/" + document.machineName, onclick="return confirm(\"Are you sure you want to delete this document?\")").btn.btn-outline-danger Delete