extends ../layouts/main

block content
  input(type='hidden' value=content id='content')
  div#app Loading...

  script(type='text/javascript')
    | var global = global || window;
  script(src="/resources/placeholders_editor.js")
