extends ../base/layout

block content
  div.d-flex.mb-3
    a.btn.btn-outline-success(href='/new')
      i.fas.fa-plus.mr-2
      | New
    button.btn.btn-outline-primary.ml-auto(type='button', data-toggle='collapse', data-target='#parametersCollapse')
      i.fas.fa-info.mr-2
      | Parameters
  div.collapse#parametersCollapse
    div.card.mb-2
      div.card-body
        div
          span.mr-2
            b Source Directory:
          span= sourceDirectory
        div
          span.mr-2
            b Destination Directory:
          span= destinationDirectory

  h1 List of Documents
  table.table.table-striped
    thead
      tr
        th(scope="col") Name
        th(scope="col") Actions
    tbody
      each documentName in documentNames
        tr
          td
            a(href='view/' + documentName, target='_blank')= documentName
          td
            a(href="edit/" + documentName).btn.btn-outline-primary Edit
            | 
            a(href="delete/" + documentName).btn.btn-outline-danger Delete