extends ../base/layout

block content
  h1 Create New Document

  form(method='POST')
    .form-group
      label(for='name') Name
      input#name.form-control(type='text', name='name')
      small.form-text.text-muted Example: "Homepage". This name will be only used for recognizing the document. Machine name of this document will be a snake-cased version of this.
    button.btn.btn-outline-success(type='submit') Create