;; shadow-cljs configuration
{:source-paths ["src/main" "src/test"]
 :dependencies [;   [org.clojure/tools.cli "1.0.194"]
                [com.google.javascript/closure-compiler-unshaded "v20200504"]
                [clj-kondo "2020.06.21"]]
 :builds
 {:dev {:target :node-library
        :exports {:compile document/compile_}
       ;  :main onwebed-cli.core/-main
        :output-to "../../lib/document/compiler.js"
        :devtools {:repl-pprint true}
        :compiler-options {:optimizations :none
                           :pretty-print false}}
  :test {:target    :node-test
         :output-to "../../out/document-compiler-tests.js"
         :autorun   true}}}
