doctype html
block variables
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title= title || "Onwebed"
  link(rel="stylesheet" href="/resources/index.css")
  
body
  include menu
  div.container.mt-3
    //- - var messages = getMessages()
    //- div= "Messages: " + JSON.stringify(message)
    if messagesDanger
      each msg in messagesDanger
        div.alert.alert-danger= msg
    if messagesSuccess
      each msg in messagesSuccess
        div.alert.alert-success= msg

        
    block content
      |Default content

  script(src="/resources/index.js")