doctype html
block variables
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title= title || "Onwebed"
  link(rel="stylesheet" href="/resources/document_editor.css")
  
body
  input(type='hidden' value=content id='page-content')
  input(type='hidden' value=name id='page-name')
  block content
    p Content?

  script(src="/resources/document_editor.js")